/* About.css */
.about {
  height: 610px;
  padding: 4rem;
  text-align: center;
  background-color: #232526;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about h2 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  cursor: pointer;
}

.about p {
  font-size: 1.3rem;
  max-width: 600px;
  margin: 0 auto;
  cursor: not-allowed;
}

@media (max-width: 750px) {
  .about {
    padding-top: 17vh;
  }
  .about h2 {
    font-size: 2rem;
  }

  .about p {
    font-size: 1.1rem;
  }
}
