/* Footer.css */

footer {
  z-index: 5;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  margin: 0;
  cursor: pointer;
}
