/* Projects.css */
.projects-container {
  height: 610px;
  padding: 4rem;
  text-align: center;
  background-color: #232526;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}
.projects-container h2 {
  cursor: pointer;
  margin-bottom: 2vw;
}

.project {
  background-color: #68b0a8;
  border: 1px solid #ddd;
  padding: 1.5vw;
  margin-bottom: 10px;
  cursor: pointer;
}

.project h3 {
  margin-top: 0;
}

.project p {
  margin-bottom: 5px;
}

.project a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}
@media (max-width: 750px) {
  .projects-container {
    padding-top: 17vh;
  }
}
